body{
    
    background-image: url(/public/img/background-anonymous.jpeg);
    background-size: cover;
}
.titre{
    text-align: center;
    color: black;
}
.anonymous_bannière{
    height: auto;
    width:100%;
}
.navbar-text{
    position: relative;
    right: -300px;
}