*{
    margin: 0;
}
.anonymous_bannière{
    height: auto;
    width:100%;
}
body{
    
    background-image: url(/public/img/background-anonymous.jpeg);
    background-size: cover;
}
.navbar-text{
    position: relative;
    right: -300px;
}