body{
    
    background-image: url("/public/img/background-anonymous.jpeg");
    background-size: cover;
}
.titre{
    text-align: center;
    color: black;
}
.anonymous_bannière{
    height: auto;
    width:100%;
}
.navbar-text{
    position: relative;
    right: -300px;
}
.footer{
    background-color: rgb(44, 48, 44);
    height: 120px;
    text-align: center;

}
.regle{
    color: cadetblue;
}
.arobas{
    color: cadetblue;
}
.icon:hover{
    font-size: 40px;
    background-color: rgb(44, 48, 44);
    border-radius: 15%;   
}
.card{
    color:black;
}
.form{
    color: white;
}
.boutton{
    color: white;
}
.navbar-text{
    position: relative;
    right: -290px;
}
.twitter{
    position: absolute;
    right: 10px;
    top: 300px;
    margin: 0;
}
#carouselExampleCaptions{
    width: 60%;
    height: auto;
    position: relative;
    top: 45px;
    left: 50px;
.card3{
    position: relative;
    left: -10%;
}